/* Everything in the global Header tag */

.header-title{
    text-align: center;
}

.header-tristan{
    display: none;
}

.language{
    padding: 0;
    margin-left: 7%;
    margin-bottom: 0.5rem;
    border-radius: 10px;
    height: 1.75rem;
    width: 2.75rem;
    align-items: center;
}

nav{
    background-color: var(--colorBgSecondary);
}

nav ul li{
    font-size: 24px;
    text-align: center;
    border-bottom: 1px var(--colorSecondary) solid;
    padding: 0.5rem 0;
    list-style: none;
}

nav ul li a{
    color: var(--colorLink);
}

/* DESKTOP VIEW */

@media (min-width: 1200px) {
    header div{
        display: flex;
        flex-direction: row;
        margin: 0;
    }

    .header-tristan{
        display: flex;
        width: 15%;
    }

    .header-tristan img{
        border-radius: 50%;
        max-width: 128px;
        width: 100%;
    }

    .header-title{
        display:inline-block;
        width: 70%
    }

    .options{
        width: 15%;
        justify-content: flex-end;
        padding: 3rem 2rem;
    }

    .language{
        margin: 0 auto;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        margin: 0;
    }

    nav ul li{
        border: none;
    }
}