/* Everything in the article with class name "home" */

/* new book release section (yellow background) */

.new-release{
    background-color: var(--colorSecondary);
    padding: 0.5rem 0;
}

.new-release-title, .release-book-title, .release-copyright{
    font-family: var(--fontMain);
    text-align: center;
}

.new-release-title{
    padding: 0.5rem;
    width: 12rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--colorCTA);
    color: var(--colorLink);
    font-size: 18px;
}

.release-book-title{
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 0.5rem;
}

.release-copyright{
    font-size: 18px;
    padding-bottom: 0.75rem;
}

.release-image{
    /* some day centering an image via text in a block container will make sense to me. */
    text-align: center;
}

.release-image img{
    padding: 0.6rem;
    background-color: var(--colorLink);
    border-radius: 10px;
    max-width: 130px;
    width: 100%;
    height: auto;
}

/* Text section underneath book (books hidden on mobile view) */

.tristan-bio{
    background-color: var(--colorLink);
    text-align: left;
    padding: 1.5rem 2rem 0 2rem;
}

.bio-right{
    display:none;
}

.tristan-bio p{
    padding-bottom: 1rem;
    font-family: var(--fontMain);
}

.tristan-quote{
    background-color: var(--colorBgSecondary);
    text-align:center;
    border-radius: 10px;
    padding: 0.5rem 1rem 0 1rem;
    margin-bottom:1rem;
}

.tristan-quote p{
    color: var(--colorLink);
    font-style: italic;
}

.quote-source{
    text-align: right;
    font-style: normal !important;
}

/* DESKTOP VIEW */

@media (min-width: 1200px) {
    /* new book release section (yellow background) */
    .new-release{
        display:flex;
    }

    .new-release-flex{
        flex: 4;
    }

    .new-release-title{
        padding: 0.75rem;
        width: 20rem;
        margin-top:0.5rem;
        margin-bottom: 2rem;
    }

    .release-book-title{
        font-size: 24px;
    }

    .release-copyright{
        font-size: 16px;
    }

    .release-image{
        flex: 1;
        justify-content: flex-end;
        display:flex;
        padding-right: 1rem;
    }

    .release-image img{
        margin: 0;
        max-width: 120px;
    }

    /* Text section underneath book (books shown on desktop view) */

    .tristan-bio{
        display:flex;
        padding: 1rem 0 0 2rem;
    }

    .bio-left{
        flex: 2;
    }

    .bio-right{
        flex: 1;
        display:block;
    }

    .bio-card-container{
        display:flex;
        justify-content: space-evenly;
    }

    .bio-card{
        margin: 0;
        text-align: center;
    }

    .bio-card img{
        width: 100%;
        height: auto;
        max-width: 156px;
    }
}

